:root {
  --primary-color: #B113CB;
  --secondary-color: #8B04CB;
  --dark-color: #180620;
  --dark-purple: #402C48;
}

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
